.delete-line {
    border: none;
    background-color: #FFFFFF;
    color: coral;
    font-size: 13pt;
}

.delete-group {
    width: 900px;
}

.delete-button {
    color: coral;
}

.announce {
    padding-top: 20px;
}

.delete-group-smaller:hover {
    background-color: #FFFFFF !important;
}