div.container {
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
    font-weight: 700;
    height: 72vh;
    color: #666666;
}

img.error {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

.text-container {
    margin-top: auto;
    margin-bottom: auto;
}

.red-text {
    color: red;
}