.check-box {
    width: 15px;
    height: 15px;
}

.check-col {
    vertical-align: middle !important;
}

th {
    height: 26px;
    padding: 3px 5px 3px 5px !important;
}

.reset {
    border: none;
    background-color: white;
    color: #2F85FA;
    height: 38px;
    width: 100px;
    margin-left: 25px;
    margin-top: 10px;
}

.search {
    background-color: #007bff;
    border-color: #007bff;
    height: 38px;
    width: 100px;
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}

.delete-button {
    color: coral;
}

.dropdown-button {
    width: 120px;
    margin-right: 25px;
    margin-top: 10px;
}

.search-bar {
    margin-top: 10px;
}

.table-text-left {
    text-align: left;
    vertical-align: middle !important;
}

.table-text-right {
    text-align: right;
    vertical-align: middle !important;
}

.table-text-center {
    text-align: center;
    vertical-align: middle !important;
}

.table-button-right {
    text-align: center;
}

.table-number {
    width: 60px;
}

.table-name {
    width: 200px;
}

.table-status {
    width: 120px;
}

.table-customer {
    width: 140px;
}

.table-date {
    width: 120px;
}

.table-delete {
    width: 50px;
}

.table-check {
    width: 50px;
}

.form-me {
    display: flex;
}

.table-row {
    height: 30px;
}

.text-font {
    font-family: "Segoe UI", Serif;
    font-size: 14pt;
    color: #666666;
}
