.form {
    margin-top: 25px;
}

.error {
    border: 1px solid #eb516d !important;
}

.label {
    size: 14pt;
    font-family: 'Segoe UI', Serif;
    font-weight: 600;
    color: #666666;
}

.required {
    margin-left: 2px;
    color: #FF0000;
}